// color variable
$primaryColor: #6A983C;
$secondaryColor: #151515;
$grayColor: #f9f9f9;
$borderColor: #D1D1D1;
$ratingColor: #FDBC15;
$lightColor: #A9A9A9;
// theme variable
$mainBg: #ffffff;

//  Font Family

$primaryFont: 'Poppins', sans-serif;
$secondaryFont: 'Open Sans', sans-serif;